body { 
font-family : "arial", sans-serif, unicode; 
} 

a{
background-color: #F8F8FF;
}
a:visited{color:#0000FF}
a:active {color : #0000FF}
a:hover {color : #9400D3}
table td
{
background-color: #FFFFFF;
}
img.banner { 
display : block; 
max-width : 25%;
margin-left: auto;
margin-right: auto;
border: none;
} 
img.bigPictureBook { 
margin-right : 10%; 
margin-top : 1%; 
} 
table.widetable { 
border-spacing : 0; 
margin-top : 2%; 
margin-left: auto;
margin-right : auto; 
padding : 0; 
border-top : 2px solid #225599; 
border-left : 2px solid #225599; 
border-right : 2px solid #225599; 
border-bottom : 2px solid #225599; 
} 
table.widetable td { 
padding : 10px; 
} 
table.bookinfotable { 

border-spacing: 0; 
margin-left: auto;
margin-right : auto; 
margin-top : 3%; 
border-top : 2px solid #225599; 
border-left : 2px solid #225599; 
border-right : 2px solid #225599; 
border-bottom : 2px solid #225599; 
} 
table.memberInfo { 
margin-top : 2%;
margin-bottom : 2%; 
margin-left: auto;
margin-right: auto;
border-top : 2px solid #225599; 
border-left : 2px solid #225599; 
border-right : 2px solid #225599; 
border-bottom : 2px solid #225599; 
border-spacing : 0; 
} 
table.logintable { 
border-spacing: 0;
margin-top : 10%;
margin-right: auto;
margin-left: auto;
} 
div.contactInfo { 
margin-top : 2%; 
width : 45%; 
} 
div.comments{
border-top : 2px solid #225599; 
border-left : 2px solid #225599; 
border-right : 2px solid #225599; 
border-bottom : 2px solid #225599;
margin-top: 2%;
margin-left: 45%;
height: 100%;
position : relative;
background-color : #FFFFFF;
}
div.comment{ 
margin-top : 2%; 
margin-left : 10%; 
display : block; 
} 
table.commenttable { 
width : 10%; 
margin-top : 2%; 
border-top : 2px solid #225599; 
border-left : 2px solid #225599; 
border-right : 2px solid #225599; 
border-bottom : 2px solid #225599; 
float : left; 
} 
div.orders { 
margin-top : 1%; 

} 
div.allOrders { 
margin-top : 2%;
margin-left: auto;
margin-right: auto;
width : 45%; 
} 
div.importantMessage { 
margin-top : 10%; 
margin-bottom: 2%;
margin-left: auto;
margin-right : auto; 
width : 45%; 
text-align : center; 
font-weight : bold; 
color : #ff0000; 
border-top : 2px solid #000000; 
border-right : 2px solid #000000; 
border-left : 2px solid #000000; 
border-bottom : 2px solid #000000; 
background-color : #DCDCDC;
} 
div.logoutLink { 
float : right; 
} 
div.wrapper { 
width: 50%;
height: 100%;
margin-left: 25%;
background-color: #A9A9A9;
} 
div.navlink { 
margin-left : 5%; 
margin-right : auto; 
float : left; 
font-weight: bold;
} 

div.footer { 
position : relative; 
height: 20px;
margin-top: 45%;
margin-left: auto;
margin-right: auto;

} 
div.header { 
height: 20px;
margin-top: 2%;
margin-right: auto;
margin-left: auto;
} 